html, body{
    height: 100%;
    width: 100%;
}
.top-wrapper{
    height: 10rem;
    background-color: #ccc;
}
#stocklist{ 
    width:100%;
    height:auto;
    overflow:auto;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}
#stocklist .row{
    width:auto;
    height:auto;
    white-space: nowrap;
}
#stocklist .row:nth-child(1){
    top: 0;
    z-index: 1;
}
#stocklist .row li{
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    text-align: left;
    background: #fff;
    border-bottom: .01rem solid #f1f1f1;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row:nth-child(1) li{
    font-size: .8rem;
    color: #909399;
}

/* 第一列浮动 */
#stocklist li:nth-child(1){
    position: absolute;
    transform: translate(0,0);
}
