html, body, ul, ol{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
#wrapper{
    width:100%;
    overflow:hidden;
}
.top-wrapper{
    height: 10rem;
    background: #eee;
}
.list ul{
    width:auto;
    height:auto;
    white-space: nowrap;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    align-items: center;
}
.body{
    height:80vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 0.1rem;
    -webkit-overflow-scrolling: auto;
}
.body ul{
    position: relative;
    left: 0;
    right: 0;
}
.list ul li{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1rem;
    text-align: center;
    color: #606266;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 3.5rem;
    flex-shrink: 0;
}
.list ul li:first-child{
    background: #fff;
    position: absolute;
    left: 0;
}
.header ul li{
    color: #909399;
    line-height: 3.5rem;
}
.body ul li .company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}
.company .code{
    color: #909399;
}

.noData{
    /* font-size:.14rem; */
    color:#909399;
    text-align:center;
    margin-top:5rem;
    height: 5rem;
    line-height: 5rem;
}