<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="softline.proto.dao.TecMenuMapper" >
  <resultMap id="BaseResultMap" type="softline.proto.domain.TecMenu" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COLUMN_ID" property="columnId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="ORDER" property="order" jdbcType="TINYINT" />
    <result column="LEVEL" property="level" jdbcType="BIT" />
    <result column="IS_FLAG" property="isFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    `ID`, `COLUMN_ID`, `NAME`, `CODE`, `PARENT_ID`, `ORDER`, `LEVEL`, `IS_FLAG`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tec_menu
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tec_menu
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="softline.proto.domain.TecMenu" >
    insert into tec_menu (ID, COLUMN_ID, NAME, 
      CODE, PARENT_ID, ORDER, 
      LEVEL, IS_FLAG)
    values (#{id,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{order,jdbcType=TINYINT}, 
      #{level,jdbcType=BIT}, #{isFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="softline.proto.domain.TecMenu" >
    insert into tec_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="columnId != null" >
        COLUMN_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="order != null" >
        ORDER,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="isFlag != null" >
        IS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=BIT},
      </if>
      <if test="isFlag != null" >
        #{isFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="softline.proto.domain.TecMenu" >
    update tec_menu
    <set >
      <if test="columnId != null" >
        COLUMN_ID = #{columnId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        ORDER = #{order,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=BIT},
      </if>
      <if test="isFlag != null" >
        IS_FLAG = #{isFlag,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="softline.proto.domain.TecMenu" >
    update tec_menu
    set COLUMN_ID = #{columnId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      ORDER = #{order,jdbcType=TINYINT},
      LEVEL = #{level,jdbcType=BIT},
      IS_FLAG = #{isFlag,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
 
 <select id="selectMenuByPid" parameterType="int" resultMap="BaseResultMap">
 
 SELECT NAME,id FROM tec_menu m WHERE m.COLUMN_ID=1 AND m.is_flag=0 AND (m.PARENT_ID=#{_parameter} OR id=#{_parameter}) ORDER BY m.LEVEL,m.order
 </select> 
<select id="selectPmenuByMenuId" parameterType="int" resultMap="BaseResultMap">

 SELECT * FROM tec_menu  WHERE column_id=1 AND  ID=(SELECT PARENT_ID FROM tec_menu WHERE id=#{_parameter} and column_id=1 )
</select> 
 
 <select id="selectAllByMenuPid" parameterType="map" resultMap="softline.deploy.dao.TecFileVoMapper.TecFileVoMap">
  SELECT f.*,m.NAME MENU_NAME,(SELECT m.NAME FROM TEC_MENU m WHERE m.id=#{menuPid}) p_Menu_Name 
 FROM TEC_FILE f,TEC_MENU m
 WHERE f.MENU_ID=m.ID
  AND f.IS_FLAG=0 
 AND f.column_id=#{columnId}
 AND (m.parent_id=#{menuPid} OR m.id=#{menuPid})			   
 ORDER BY is_top DESC, ISSUE_TIME DESC 
 <if test="toIndex!=null and toIndex!='' ">
 limit 0,#{toIndex}
 </if>
 </select> 
 
 <select id="selectAllMenu" resultMap="BaseResultMap" parameterType="map">
  select t.* from tec_menu t where t.level=#{level} and t.IS_FLAG=0 and t.COLUMN_ID=1
  <if test="parentId!=null and parentId!='' ">
  and t.parent_id=#{parentId}
  </if>
  ORDER BY  t.order  ASC
  </select> 
    
</mapper>