ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.date {
    width: 100%;
    height: auto;
    color: #606266;
    text-align: center;
    font-size: .16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .1rem 0 .15rem;
    /*background: #fff;*/
}
.picker{
    font-size: .17rem;
    padding: 0 .15rem;
    border-radius: .05rem;
    width: 100%;
    height: 100%;
    min-height: .3rem;
    margin-bottom: .02rem;
    color: #ff6e51;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.picker-btn .fa-caret-down{
    color: #ff6e51;
}
.today{
    position: absolute;
    right: .15rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: .12rem;
    color: #fff;
    background: #ff6e51;
    padding: .02rem .05rem;
    -webkit-border-radius: .05rem;
    -moz-border-radius: .05rem;
    border-radius: .05rem;
}

.date-list{
    width: 80%;
    position: relative;
}
.month {
    font-size: 18px;
    text-align: center;
}
.weekdays {
    display: flex;
    justify-content: space-around;
}
.weekdays li {
    text-align: center;
    margin: .05rem;
    font-size: .14rem;
    color: #909399;
}
.days {
    display: flex;
    justify-content: space-around;
}
.days li {
    text-align: center;
    padding: .05rem;
    min-width: .29rem;
}
.days li.is-active {
    background: #ff6e51;
    border-radius: 50%;
    color: #fff;
}
.other-month {
    color: #e4393c;
}

.pre-btn, .nex-btn{
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    padding: .03rem;
    border-radius: 30%;
    color: #ff6e51;
    /*background: #ff6e51;*/
}
.pre-btn{
    left: -11%;
}
.nex-btn{
    right: -11%;
}
