<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03.2-添加渲染</title>
    <script src="../../vue.js"></script>

</head>
<body>
    <div id="app">
        <!-- v-once阻止渲染 -->
        <div v-once>v-once已组织渲染：{{msg}}</div>
        <div>无v-once：{{msg}}</div>
        <button v-on:click=" msg = 123">click me</button>   <hr>

        <!-- 条件渲染：v-if, v-else-if, else （语法等同于if判断）; 兄弟节点间才能使用-->
        <p v-if="items > 20" >{{ items }}库存充足</p>
        <p v-else-if="items > 5" >所剩不多了，赶紧抢购</p>
        <p v-else >库存为空，敬请期待</p>

        <template v-if="items > 50">        <!-- template为HTML5标签，用于包括多个HTML，自身不显示 -->
            <p>主要事项</p>
            <p>由于库存很足，现在购买全部8折哦！！！</p>
        </template>

        <!-- vue的显示隐藏：v-show (等同于css的display)-->
        <p v-show="Ninja">show</p>
        <p v-show="!Ninja">hidden</p>
        <button v-on:click="Ninja = !Ninja">toggleShow</button>      <hr>


    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                msg: "world !",
                items: 52,
                Ninja: true,
                message: "message延迟加载！！！"
            }
        })
    </script>

    <!-- 当延迟加载时，使用v-cloak阻止显示乱码(vue.js代码) -->
    <div id="app1">
        <div v-cloak>
            <p>{{message}}</p>
        </div>
    </div>

    <style>
        [v-cloak]{
            display:none;
        }
    </style>

    <script>
        setTimeout(function(){          //延迟5秒加载vue
            new Vue({
                el: "#app1",
                data: {
                    message: "message延迟加载！！！"
                },

            });
        },5000);
    </script>

    <!--
        总结：
        1、阻止事件对HTML内容渲染：v-once。
        2、vue条件渲染：v-if, v-else-if, v-else （判断渲染）。
        3、显示隐藏：v-show="true or false"。
        4、延时加载：加载内容套一层div并设置v-cloak，然后v-cloak的css设置为display:none。
    -->

</body>
</html>