<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="searchInfo" >
        <div v-if="showSearching">正在搜索。。。</div>        <!-- 输入文本时显示，不输入则隐藏 -->
        <ul>
            <li v-for="item in result">{{item}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el : "#app",
            data : {
                searchInfo : "",
                showSearching : false,
                result : [],
            },
            watch : {
                searchInfo : function () {
                    this.showSearching = true;
                    setTimeout(()=>{        //箭头函数里的this指向外层函数
                        this.result = ["js", "html5", "css3"];
                        this.showSearching = false;
                    }, 500);
                }
            }
        })
    </script>
    <!--
        总结：
        1、监听：watch 用于监听某一属性的变化。
    -->
</body>
</html>