
.reading-container{
	width: 100%;
	height: 100%;
	padding: 20px 40px;
}
.reading-container .close-button{
	position: absolute;
	top: -2px;
	right: -32px;
	cursor: pointer;
}
.close-button img{
	width: 35px;
	height: auto;
}
.reading-container .public-title{
	margin-bottom: 20px;
	text-align: center;
}
.reading-container .public-content{
	text-align: left;
}
.public-content p{
	text-indent: 2em;
}