<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="softline.proto.dao.DivisionsMapper" >
  <resultMap id="BaseResultMap" type="softline.proto.domain.Divisions" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MENU_ID" property="menuId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CONTENT1" property="content1" jdbcType="VARCHAR" />
    <result column="CONTENT2" property="content2" jdbcType="VARCHAR" />
    <result column="CONTENT3" property="content3" jdbcType="VARCHAR" />
    <result column="CONTENT4" property="content4" jdbcType="VARCHAR" />
    <result column="CONTENT5" property="content5" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_ACCT" property="createAcct" jdbcType="VARCHAR" />
    <result column="MODIFY_ACCT" property="modifyAcct" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MENU_ID, TITLE, CONTENT1, CONTENT2, CONTENT3, CONTENT4, CONTENT5, REMARK, CREATE_ACCT, 
    MODIFY_ACCT, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_divisions
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_divisions
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="softline.proto.domain.Divisions" >
    insert into work_divisions (ID, MENU_ID, TITLE, 
      CONTENT1, CONTENT2, CONTENT3, 
      CONTENT4, CONTENT5, REMARK, 
      CREATE_ACCT, MODIFY_ACCT, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content1,jdbcType=VARCHAR}, #{content2,jdbcType=VARCHAR}, #{content3,jdbcType=VARCHAR}, 
      #{content4,jdbcType=VARCHAR}, #{content5,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createAcct,jdbcType=VARCHAR}, #{modifyAcct,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="softline.proto.domain.Divisions" >
    insert into work_divisions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="content1 != null" >
        CONTENT1,
      </if>
      <if test="content2 != null" >
        CONTENT2,
      </if>
      <if test="content3 != null" >
        CONTENT3,
      </if>
      <if test="content4 != null" >
        CONTENT4,
      </if>
      <if test="content5 != null" >
        CONTENT5,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createAcct != null" >
        CREATE_ACCT,
      </if>
      <if test="modifyAcct != null" >
        MODIFY_ACCT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content1 != null" >
        #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null" >
        #{content2,jdbcType=VARCHAR},
      </if>
      <if test="content3 != null" >
        #{content3,jdbcType=VARCHAR},
      </if>
      <if test="content4 != null" >
        #{content4,jdbcType=VARCHAR},
      </if>
      <if test="content5 != null" >
        #{content5,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAcct != null" >
        #{createAcct,jdbcType=VARCHAR},
      </if>
      <if test="modifyAcct != null" >
        #{modifyAcct,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="softline.proto.domain.Divisions" >
    update work_divisions
    <set >
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content1 != null" >
        CONTENT1 = #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null" >
        CONTENT2 = #{content2,jdbcType=VARCHAR},
      </if>
      <if test="content3 != null" >
        CONTENT3 = #{content3,jdbcType=VARCHAR},
      </if>
      <if test="content4 != null" >
        CONTENT4 = #{content4,jdbcType=VARCHAR},
      </if>
      <if test="content5 != null" >
        CONTENT5 = #{content5,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAcct != null" >
        CREATE_ACCT = #{createAcct,jdbcType=VARCHAR},
      </if>
      <if test="modifyAcct != null" >
        MODIFY_ACCT = #{modifyAcct,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="softline.proto.domain.Divisions" >
    update work_divisions
    set MENU_ID = #{menuId,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT1 = #{content1,jdbcType=VARCHAR},
      CONTENT2 = #{content2,jdbcType=VARCHAR},
      CONTENT3 = #{content3,jdbcType=VARCHAR},
      CONTENT4 = #{content4,jdbcType=VARCHAR},
      CONTENT5 = #{content5,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_ACCT = #{createAcct,jdbcType=VARCHAR},
      MODIFY_ACCT = #{modifyAcct,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="seletAllDivByMenu" parameterType="map" resultMap="BaseResultMap">
 select w.*,case when w.CONTENT5 ='进行中' then 0  when w.CONTENT5 ='终止' then 1 
 when w.CONTENT5 ='完成' then 2 
 when w.CONTENT5 ='其它' then 3 end as statu 
 from work_divisions w where w. menu_id=#{menuId}  order  by statu
 <if test="pageNum != null" >
 limit 0,#{pageNum}
 </if>
  </select>
</mapper>