<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" href="/css/dialog.css" />
<link rel="stylesheet" href="/css/jquery.pageslide.css" />
<link rel="stylesheet" href="/css/time/dcalendar.picker.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/response.css" />
<link rel="stylesheet" href="/css/paging.css" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>


<script type="text/javascript" src="/js/time/dcalendar.picker.js"></script>
<script type="text/javascript" src="/js/dialog.js"></script>
<script type="text/javascript" src="/js/paging.js"></script>
<script type="text/javascript" th:inline="JavaScript">
$(function(){
	var currentPage = ([[${pager.currentPage}]]==null?1:[[${pager.currentPage}]]);
	var totalPage = [[${pager.totalPage}]];
	var totalRecord = [[${pager.totalRecord}]];
	$("#page").paging({
		currentPage: currentPage,
		totalPage:  totalPage,
		totalRecord: totalRecord,
		callback: function(pageNum) {
		$("#search").attr("action","/bbc/search/"+pageNum);
		$("#search").submit();
		}
	});
});

window.onerror=function(){return true;}
</script>


</head>
<body>
	<div th:include="head"></div>
	<div id="contentPage">
		<div class="container middle-content-search">
			<div th:if="${pager.dataList!=null}">
				<div class="row">
					<div class="col-md-12">
						<span>搜索结果：</span>
						<table class="table-style">
							<thead>
								<tr>
									<td class="xuhao">序号</td>
									<td>名称</td>
									<td class="category">分类</td>
									<td class="time">时间</td>

									<td class="operation"
										th:if="${session.userLogin!=null and (session.userLogin.dept eq dept or session.userLogin.dept eq 'dept_all')}">操作</td>

								</tr>
							</thead>
							<tbody>

								<tr th:each="r,i : ${pager.dataList}">
									<td class="xuhao" th:text="${i.count }"></td>
									<td th:if="${r.menuId!=1501 and r.menuId!=1502}"><a
										class="clearfix-link" th:if="${#strings.length(r.title)}>30"
										th:text="${#strings.substring(r.title,0,30)}+'...'"
										th:title="${r.title }" href="javascript:;"
										th:onclick="'down('+${r.id }+');'"> <img
											src='/img/top.png' th:if="${r.isTop==1 }" /></a> <a
										class="clearfix-link"
										th:unless="${#strings.length(r.title)}>30"
										th:text="${r.title }" th:title="${r.title }"
										href="javascript:;" th:onclick="'down('+${r.id }+');'"> <img
											src='/img/top.png' th:if="${r.isTop==1 }" /></a></td>
									<td th:if="${r.menuId==1501}"><a class="clearfix-link"
										th:if="${#strings.length(r.title)}>30"
										th:text="${#strings.substring(r.title,0,30)}+'...'"
										th:title="${r.title }"> </a> <a class="clearfix-link"
										th:unless="${#strings.length(r.title)}>30"
										th:text="${r.title }" th:title="${r.title }"> </a></td>
									<td th:if="${r.menuId==1502}"><a class="clearfix-link"
										th:onclick="'alertText('+${r.id }+',1502);'"
										th:if="${#strings.length(r.title)}>30"
										th:text="${#strings.substring(r.title,0,30)}+'...'"
										th:title="${r.title }"> </a> <a class="clearfix-link"
										th:onclick="'alertText('+${r.id }+',1502);'"
										th:unless="${#strings.length(r.title)}>30"
										th:text="${r.title }" th:title="${r.title }"> </a></td>
									<td class="category"><a
										th:href="@{'/bbc/page2/'+${r.menuId}}"
										th:text="'【'+${r.menuName}+'】'"></a></td>
									<td class="time" th:text="${r.issueTime}"></td>

									<td class="operation"
										th:if="${session.userLogin!=null and (session.userLogin.dept eq dept or session.userLogin.dept eq 'dept_all') }"><a
										th:id="${r.id}" href="javascript:;">删除</a></td>
								</tr>



							</tbody>
						</table>

					</div>
					<div id="page" class="page_div" style="float: right;"></div>
				</div>
			</div>

			<div th:unless="${pager.dataList!=null}">
				<div class="row">
					<div class="col-md-12">
						<span>搜索结果：</span>
						<table class="table-style">
							<thead>
								<tr>
									<td class="xuhao">序号</td>
									<td>名称</td>
									<td class="category">分类</td>
									<td class="time">时间</td>

									<td class="operation"
										th:if="${session.userLogin!=null and (session.userLogin.dept eq dept or session.userLogin.dept eq 'dept_all')}">操作</td>

								</tr>
							</thead>

						</table>

					</div>

				</div>
				<div align="center">
					<h2>无搜索记录！</h2>
				</div>
			</div>


		</div>

		<script type="text/javascript">
   		$("ul.menu li a").click(function(){     //导航栏焦点切换
			$(this).closest(".level1").addClass('active');  
			$(this).closest(".level1").siblings("li.level1").removeClass("active");
		})
   		
   	/* 	$(function() {
			$('#mydatepicker,#mydatepicker').dcalendarpicker({
						format:'yyyy-mm-dd'
			});
		}) */
		$('#mydatepicker_p,#mydatepicker_p2').each(function(){
			var value = this.value
			this.value = "";
			$(this).dcalendarpicker({
				format:'yyyy-mm-dd'
		    });
			this.value = value
		})
		
		$(".admin > a").click(function(){		//退出提示事件
			$('body').dailog({type:'primary',title:'提示！',discription:'您确定要退出吗？'},function(ret) {if(ret.index===0){window.location.href="home.html"};})
		});
   		$(".operation > a").click(function(){
			//删除按钮的点击事件
			var fileId=$(this).attr("id");
			
			$('body').dailog({type:'primary'},function(ret) {if(ret.index===0){
				$.get("/bbc/delete/"+ fileId,function(data){
					alert('已删除！');
					$("#search").submit();
				});
				
				};})
		})	
	window.onerror=function(){return true;}	
   </script>
	</div>
</body>

</html>
