<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="softline.proto.dao.TecOperationLogsMapper" >
  <resultMap id="BaseResultMap" type="softline.proto.domain.TecOperationLogs" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ACCT" property="acct" jdbcType="VARCHAR" />
    <result column="MODULE" property="module" jdbcType="VARCHAR" />
    <result column="METHOD" property="method" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="VARCHAR" />
    <result column="COMMITE" property="commite" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACCT, MODULE, METHOD, IP, TIME, COMMITE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tec_operation_logs
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tec_operation_logs
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="softline.proto.domain.TecOperationLogs" >
    insert into tec_operation_logs (ID, ACCT, MODULE, 
      METHOD, IP, TIME, COMMITE
      )
    values (#{id,jdbcType=INTEGER}, #{acct,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{commite,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="softline.proto.domain.TecOperationLogs" >
    insert into tec_operation_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="acct != null" >
        ACCT,
      </if>
      <if test="module != null" >
        MODULE,
      </if>
      <if test="method != null" >
        METHOD,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="commite != null" >
        COMMITE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="acct != null" >
        #{acct,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="commite != null" >
        #{commite,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="softline.proto.domain.TecOperationLogs" >
    update tec_operation_logs
    <set >
      <if test="acct != null" >
        ACCT = #{acct,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        MODULE = #{module,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="commite != null" >
        COMMITE = #{commite,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="softline.proto.domain.TecOperationLogs" >
    update tec_operation_logs
    set ACCT = #{acct,jdbcType=VARCHAR},
      MODULE = #{module,jdbcType=VARCHAR},
      METHOD = #{method,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=VARCHAR},
      COMMITE = #{commite,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>