<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="softline.proto.dao.TecUserMapper" >
  <resultMap id="BaseResultMap" type="softline.proto.domain.TecUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ACCT" property="acct" jdbcType="VARCHAR" />
    <result column="PSWD" property="pswd" jdbcType="CHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DEPT" property="dept" jdbcType="VARCHAR" />
    <result column="IS_FLAG" property="isFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACCT, PSWD, NAME, DEPT, IS_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tec_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tec_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="softline.proto.domain.TecUser" >
    insert into tec_user (ID, ACCT, PSWD, 
      NAME, DEPT, IS_FLAG)
    values (#{id,jdbcType=INTEGER}, #{acct,jdbcType=VARCHAR}, #{pswd,jdbcType=CHAR}, 
      #{name,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{isFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="softline.proto.domain.TecUser" >
    insert into tec_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="acct != null" >
        ACCT,
      </if>
      <if test="pswd != null" >
        PSWD,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="dept != null" >
        DEPT,
      </if>
      <if test="isFlag != null" >
        IS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="acct != null" >
        #{acct,jdbcType=VARCHAR},
      </if>
      <if test="pswd != null" >
        #{pswd,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        #{isFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="softline.proto.domain.TecUser" >
    update tec_user
    <set >
      <if test="acct != null" >
        ACCT = #{acct,jdbcType=VARCHAR},
      </if>
      <if test="pswd != null" >
        PSWD = #{pswd,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        DEPT = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        IS_FLAG = #{isFlag,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="softline.proto.domain.TecUser" >
    update tec_user
    set ACCT = #{acct,jdbcType=VARCHAR},
      PSWD = #{pswd,jdbcType=CHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DEPT = #{dept,jdbcType=VARCHAR},
      IS_FLAG = #{isFlag,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="doLogin" parameterType="softline.proto.domain.TecUser" resultType="softline.proto.domain.TecUser">
  	
	SELECT m.*,u.column_id FROM tec_user_column u ,TEC_USER m  WHERE u.column_id=1 AND u.ACCT=#{acct,jdbcType=VARCHAR} and m.PSWD=#{pswd}  AND m.ID = u.ID
  </select>
  
</mapper>