<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" href="/css/contactusdiyou.css" />
<link rel="stylesheet" href="/css/response.css" />
<link rel="shortcut icon" href="/img/favicon.ico" />

<script type="text/javascript" th:inline="JavaScript">
	function js_menu(uri) {
		$.ajax({
			url : '/bbc/page2Home/1/'+uri,
			type : 'post',
			dataType : 'html',
			cache : false,
			success : function(data) {
				$("#contentPage").html(data);
			}
		});
	}
	$(function() {
		var menuId = [[${menu_id}]];
		if (menuId == null || menuId == "") {
			menuId = "15";//首页
		}
		$.ajax({
			url : "/bbc/menu/" + menuId,
			type : 'post',
			dataType : 'html',
			cache : false,
			success : function(data) {
			
				$("#headMenu").html(data);
			}
		});
	});
	
	function search(url){
		var title=$("input[name='title']").val();
		var	startTime=$("input[name='startTime']").val();
		var	issueTime=$("input[name='issueTime']").val();
		$.ajax({
			url : url,
			type : 'post',
			cache : false,
			data:{title:title,startTime:startTime,issueTime:issueTime},
			dataType:'html',
			success : function(data) {
				$("#contentPage").html(data);
			}
		});
	}
	function down(id){
		$.post("/bbc/confirmDown/"+id,function(data){
			if(!data){
				alert("您无权限下载!");
			}else{
			location.href="/bbc/download/"+id;
			}
		});
	}
	function alertText(id,menuId){
		var left=(window.screen.width-800-10)/2;//距左侧距离
		var top=(window.screen.height-500-30)/2;//距上距离
		window.open('/bbc/alertContent/'+id +'/'+menuId,'',"height=500,width=800,left="+left+",top="+top+",scrollbars=yes,resizable=no,location=no,menubar=no");
	}
$(function(){
	$("#logout").click(function(){
		location.href="/bbc/logout";
	})
	$("#login").click(function(){
		location.href="/bbc/login";	
	})
	
	
})
	
	
	
window.onerror=function(){return true;}	
</script>
<!--[if lt IE 9]>
    <script src="/js/ie8/respond.min.js"></script>
    <script src="/js/ie8/excanvas.min.js"></script>
    <script src="/js/ie8/html5shiv.js"></script>
    <script src="/js/ie8/ie8.fix.min.js"></script>
<![endif]-->
</head>
<body>


	<div class="background-img">
		<img src="/img/background-img.jpg" />
	</div>
	<div class="top-header">
		<div class="container-fluid top-logo">
			<div class="container">
				<div class="row">
					<div class="logo col-md-2">
						<span>企业文档存储管理系统</span>
					</div>
					<div class="search-content col-md-10">
						<form id="search" action="/bbc/search/1" method="post">
							<div class="search-box search-word">
								<span class="search-data">关键字：</span>
								<div class="input-box">
									<input type="text" placeholder="请输入文件名关键字"
										class="form-control search-input"
										th:unless="${tecFileVo!=null}" name="title" /> <input
										type="text" placeholder="请输入文件名关键字"
										class="form-control search-input" th:if="${tecFileVo!=null}"
										name="title" th:value="${tecFileVo.title}" />
								</div>
								<div class="btn-box">
									<a href="javascript:$('#search').submit();">搜索</a>
								</div>
							</div>
							<div class="search-time search-box">
								<span class="search-data">发布日期：</span>
								<div class="input-box time-box">
									<input id='mydatepicker_p' placeholder="请选择日期" type="text"
										class="form-control" th:unless="${tecFileVo!=null}"
										name="startTime" /> <input id='mydatepicker_p'
										placeholder="请选择日期" type="text" class="form-control"
										th:if="${tecFileVo!=null}" name="startTime"
										th:value="${tecFileVo.startTime}" />
								</div>
								<span class="search-data">至</span>
								<div class="input-box time-box">
									<input id='mydatepicker_p2' placeholder="请选择日期" type="text"
										class="form-control" th:unless="${tecFileVo!=null}"
										name="issueTime" /> <input id='mydatepicker_p2'
										placeholder="请选择日期" type="text" class="form-control"
										th:if="${tecFileVo!=null}" name="issueTime"
										th:value="${tecFileVo.issueTime}" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid menubar">
		<div class="container">
			<ul class="menu row" id="headMenu" style="display: inline-block;">
			</ul>
			<div class="user"
				style="height: 42px; padding: 10px 0; float: right; margin-right: 15px; display: inline-block;">
				<span style="color: #fff;" th:if="${session.userLogin!=null}"
					th:text="'欢迎您：'+${session.userLogin.name}+','"></span>&nbsp;&nbsp;
				<a style="color: #fff;" th:if="${session.userLogin!=null}"
					href="javascript:;" id="logout">退出</a> <a style="color: #fff;"
					th:unless="${session.userLogin!=null}" href="javascript:;"
					id="login">登录</a>
			</div>
		</div>

	</div>




</body>

<script type="text/javascript">

$("ul.menu li a").click(function(){     
	$(this).closest(".level1").addClass('active');  
	$(this).closest(".level1").siblings("li.level1").removeClass("active");
})

	$(function() {
		$('#mydatepicker_p,#mydatepicker_p2').dcalendarpicker({
			format : 'yyyy-mm-dd'
		});
	});



window.onerror=function(){return true;}
</script>
</html>