<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/alertPub.css" />

<meta charset="UTF-8" />
<title th:utext="${record.title}"></title>
<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div class="reading-container notice" th:if="${menuId!=1503}">
		<div class="public-title notice-title">
			<h3 th:text="${record.title}">title简介</h3>
		</div>
		<div class="public-content">
			<pre th:utext="${record.remark}">弹出内容</pre>
			<span th:text="${record.content1}">落款信息</span>
		</div>
	</div>

	<div class="reading-container" th:unless="${menuId!=1503}">
		<div class="public-title">
			<h3 th:text="${record.title }">这是一个标题</h3>
		</div>
		<div class="public-content">
			<table class="detail-table">
				<thead>
					<tr>
						<td>牵头部门</td>
						<td>配合部门</td>
						<td>牵头人</td>
						<td>类别</td>
						<td>截止时间</td>
						<td>状态</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${record.content2 }">持续监督部</td>
						<td th:text="${record.teamWork }">上市交易所</td>
						<td th:text="${record.content3 }">李某某</td>
						<td th:text="${record.content1 }">会议</td>
						<td th:text="${record.content4 }">2018-02-18</td>
						<td th:text="${record.content5 }">进行中</td>
					</tr>
					<tr height="45px" width="730px">
						<td class="detail-illustrate" colspan="6"><pre
								th:text="${record.remark }">这是一个任务说明，若没有说明，则显示为空这是一个任务说明，若没有说明，则显示为空</pre></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>