<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" href="/css/jquery.pageslide.css" />
<link rel="stylesheet" href="/css/time/dcalendar.picker.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/response.css" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/js/time/dcalendar.picker.js"></script>


</head>

<body>
	<div th:include="head"></div>
	<div id="contentPage">
		<div th:include="pageDiv"></div>
	</div>

</body>

</html>
