body{
    height: 100%;
    width: 100%;
}
.top-wrapper{
    height: 10rem;
    background-color: #ccc;
}
#wrapper{ 
    width:100%;
    height:auto;
    overflow:auto;
    background: #fff;
}
.list{
    /*position: relative;*/
}
#wrapper .header, #wrapper .row{
    width:auto;
    height:auto;
    white-space: nowrap;
}
#wrapper .header ul, #wrapper .row ul{
    position: relative;
}
#wrapper .header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#wrapper .row{
    position: relative;
}
.van-list .van-cell{
    /* padding: .5rem 0; */
    padding: 0;
}
.header li, .row li{
    display: inline-block;
    box-sizing: border-box;
    font-size: .9rem;
    text-align: center;
    /*white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;*/
}
.header li:first-child, .row li:first-child{
    background: #fff;
    position: static;
    left: 0;
    z-index: 1;
}
.header li{
    padding: 0.5rem 1rem;
    font-size: .8rem;
    color: #909399;
}